[submodule "vendor/opscode"]
	path   = vendor/opscode
	url    = git://github.com/infochimps-labs/opscode_cookbooks.git
[submodule "vendor/infochimps/zabbix"]
	path = vendor/infochimps/zabbix
	url = git://github.com/infochimps-cookbooks/zabbix.git
[submodule "vendor/mathie/homebrew"]
	path = vendor/mathie/homebrew
	url = https://github.com/infochimps-cookbooks/chef-homebrew.git
