## OS
.DS_Store
Icon?
nohup.out

## EDITORS
\#*
.#*
*~
*.swp
*.bak
REVISION
TAGS*
tmtags
*_flymake.*
*_flymake
*.tmproj
.project
.settings
mkmf.log

## COMPILED
a.out
*.o
*.pyc
*.so

## OTHER SCM
.bzr
.hg
.svn

## PROJECT::GENERAL
coverage
rdoc
doc
pkg
.yardoc

.rvmrc
.vendor
.bundle

## PROJECT::SPECIFIC

.rake_test_cache
metadata.json
*.pem
.rvmrc
.vagrant

vagrants/iso/*
vagrants/boxes/*

vendor/*

knife/*-credentials
knife-user-*.rb
knife/checksums/*
knife/plugins
knife/.completion_cache/*

vagrants/*
.rbenv-version
Berksfile.lock
config/Berksfile.conf

richnotes/*
